<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zuitopia.petopia.user.mapper.UserMapper">

    <select id="checkEmailExists">
		<![CDATA[

        SELECT COUNT(*) FROM users WHERE user_email = #{userEmail}

        ]]>
	</select>




	<insert id="insertUser" parameterType="com.zuitopia.petopia.user.dto.SingUpRequestDTO">
    <![CDATA[
		INSERT INTO USERS (USER_ID, PASSWORD, USER_EMAIL, USER_ACCESS_TOKEN, JOIN_DATE, JOIN_METHOD)
		VALUES (seq_users.nextval, #{password}, #{userEmail}, sys_guid(), sysdate, 1)
		]]>
</insert>



	<select id="findByEmail" resultType="com.zuitopia.petopia.dto.UserVO">
		SELECT *
		FROM users
		WHERE user_email = #{userEmail}
	</select>




</mapper>

