<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuitopia.petopia.mypage.mapper.MyPageInformationMapper">

	<!-- 마이페이지 사용자 정보 조회하는 퀴리 -->
    <select id="getMyPageUserDTO" resultType="MyPageUserDTO">
		<![CDATA[
        select
            user_id,
            user_email
        from
            users
        where user_id = #{userId}
        ]]>
	</select>

	<!-- 마이페이지 반려견 정보 조회하는 쿼리 -->
    <select id="getMyPagePetDTO" resultType="MyPagePetDTO">
		<![CDATA[
        select
            pet_id,
            pet_name,
            pet_weight,
            pet_size
        from
            pet
        where user_id = #{userId}
        ]]>
	</select>
</mapper>