<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zuitopia.petopia.reservation.mapper.ReservationMapper">

    <!--  예약정보를 삽입하는 쿼리  -->
    <insert id="insert">
        insert into reservation (reservation_id, user_id, branch_id, reservation_token, reservation_date, reservation_visit_time, reservation_payment)
        values (seq_reservation.nextval, #{userId}, #{branchId}, #{reservationToken}, #{reservationDate}, #{reservationVisitTime}, #{reservationPayment})
    </insert>

    <!--  개모차 잔여 개수를 가져오는 쿼리  -->
    <select id="getStrollerCount">
        <![CDATA[
            SELECT reservation_cnt
            FROM reservation_confirm
            WHERE branch_id = #{branchId} AND reservation_date = #{reservationDate}
            ]]>
    </select>

    <!--  개모차 잔여 개수를 업데이트하는 쿼리  -->
    <update id="updateStollerCount" parameterType="ReservationConfirmVO">
        UPDATE reservation_confirm
        SET reservation_cnt = reservation_cnt + 1
        WHERE branch_id = #{branchId}
          AND reservation_date = #{reservationDate}
    </update>

    <!--  개모차 잔여 개수를 삽입하는 쿼리  -->
    <insert id="insertStollerCount" parameterType="ReservationConfirmVO">
        INSERT INTO reservation_confirm (branch_id, reservation_date, reservation_cnt)
        VALUES (#{branchId}, #{reservationDate}, 1)
    </insert>

    <!--  개모차 잔여 예약수를 차감하는 쿼리  -->
    <update id="deleteStrollerCount" parameterType="ReservationConfirmVO">
        UPDATE reservation_confirm
        SET reservation_cnt = reservation_cnt - 1
        WHERE branch_id = #{branchId}
          AND reservation_date = #{reservationDate}
    </update>

</mapper>